.form-group.is-invalid .invalid-feedback {
    display: block;
}

.form-group.is-invalid .custom-file-label {
    border-color: #dc3545;
}

.form-group.is-invalid .select2-selection {
    border-color: #dc3545;
}

.modal {
    overflow-y: auto;
}

@media(min-width:580px) {
    .modal-md {
        max-width: 580px;
    }
}
@media(min-width:1200px) {
    .modal-xl {
        max-width: 1200px;
    }
}